iframe{
  width:85vw;
  height:85vw;
}

body{
  /* cursor: none; */
}
.video{
  position: absolute;
  width:85%;
  height:85%;
  left:1%;
  top:3%;
  right:0%;
  bottom:10%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.audio{
  position:absolute;
  width:8%;
  height:5%;
  left: 89%;
 display: flex;
}
.svg-noise{
  z-index:auto;
  position: absolute;
  top:77%;
  left:0;
  right:0;
  width: 100%;
}
.svg1{
  position:absolute;
  left:5%;
  top:100%;
  width:90%;
  height:90%;
  margin-top: 5%;
  bottom:0%
}
.svg2{
  z-index: 6;
  position:absolute;
  top:100%;
  left:10%;
  width:80%;
  height:80%;
  margin-top: 15%;
  bottom:0%
}
.svg3{
  z-index: 5;
  position:absolute;
  top:100%;
  left:10%;
  width:80%;
  height:80%;
  margin-top: 15%;
  bottom:0%
}

.svg-dice{
  display:none;
  position: absolute;
  width:7%;
  height:7%;
  left:89%;
  top:35%;
}
