iframe{
  min-width: 105%;
min-height: 105%;
overflow: hidden;
width: 100%;
height: 100%;
position: absolute;
left:0%;
top:0%;
right:0%;;
bottom:0%;
       }
body{
         overflow: hidden;
         cursor: none;
       }
